<nav class="sidebar">
    <div class="header-sidebar">
        <div class="logo">CinemaManager</div>
        <button class="toggle-btn">&lt;</button>
    </div>
    <ul>
        <li class="">
            <a href="/admin/index">
                <i class="fas fa-tachometer-alt"></i> Tổng quan
            </a>
        </li>
        <li>
            <a href="/admin/movie">
                <i class="fas fa-film"></i> Phim
            </a>
        </li>
        <li>
            <a href="/admin/category">
                <i class="fas fa-clock"></i> Loai
            </a>
        </li>
        <li>
            <a href="/admin/director">
                <i class="fas fa-ticket-alt"></i> Quan ly dao dien
            </a>
        </li>
        <li>
            <a href="/admin/actor">
                <i class="fas fa-users"></i> Quan ly dien vien
            </a>
        </li>
      
        <li>
            <a href="/cinema/admin/statistics">
                <i class="fas fa-chart-bar"></i> Thống kê
            </a>
        </li>
    </ul>
</nav>
