<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
  <div class="menu" th:fragment="menu">
      <div class="brand">
        <h1 style="font-size: 50px; text-align: center;" >
          HOYTS
        </h1>
      </div>
    <div class="menu_bar">
      <ul>
        <li>
          <i class="fa-solid fa-film"></i>
          <a href="">MOVIES</a>
        </li>
        <li>
          <i class="fa-solid fa-layer-group"></i>
          <a href="">SESSION TIMES</a>
        </li>
        <li>
          <i class="fa-solid fa-record-vinyl"></i>
          <a href="">CINEMA</a>
        </li>
        <li>
          <i class="fa-solid fa-calendar-days"></i>
          <a href="">EVENT & FESTIVAL</a>
        </li>
        <li>
          <i class="fa-solid fa-gift"></i>
          <a href="">HOYTS REWARDS</a>
        </li>
      </ul>
    </div>
    <div class="menu_bar_2">
      <ul>
        <li>Offers & Promotions</li>
        <li>Experiences</li>
        <li>Food & Drink</li>
        <li>Gift Shop</li>
        <li>Functions & Parties</li>
        <li>Accessibility</li>

      </ul>
    </div>
  </div>
</body>
</html>